<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/style">
</head>
<body>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="nini-center2" style="text-align: center;">
        <h2>It appears you have been logged out</h2>
        <a href="/login" id="login"><button>Login</button></a>
    </div>
    <br><br><br><br><br>
        
    </script>
</body>
</html>