<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/style/style.css">
</head>
<body>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="nini-center2" style="text-align: center;">
        <p>It appears you have been logged out</p>
        <a href="/login" id="login"><button>Login</button></a>
    </div>
    <br><br><br><br><br>
        
</body>
</html>